.main {
    background-color: #eeeeee;
}
.main .w1000{
    padding-bottom: 40px;
}
.main h4{
    font-size: 14px;
    font-weight: normal;
    padding: 25px 0;
}
.main .now{
    color:red;
}
.main .two{
    padding:25px 25px 0 25px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.main .w162{
    width: 162px;
    border-right: 1px solid #aaa; 
     font-weight: normal;
}
.main em{
    width: 36px;
    height: 36px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border:2px solid #e4e4e4;
}
.main .dl2 em{
    width: 30px;
    height: 36px;
    padding-left: 6px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border:2px solid #e4e4e4;
}
.main .w162 a{
    color:#000;
}
.main .w162 a:hover{
    text-decoration: none;
    color:#f66
}
.w162 dt{
   font-size: 18px;
   font-weight: bold;
   line-height: 36px;
   background-image: url(../img/);
}
.w162 dd{
    font-size: 16px;
    line-height: 36px;
    text-indent: 1em;
}
.w162 .red {
    position: relative;
    background-color: #f66;
    margin-right: -1px;
}
.w162 .red div{
    width: 10px;
    height: 10px;
    background-color: #ff6666;
    transform: rotateZ(45deg);
    position: absolute;
    right: -5px;
    margin-top: -23px;
    
}
.w162 .red a{
    color:#fff;
}
.w162 .red a:hover{
    color:#000;
}

.main .w730{
    width: 730px;
    padding-bottom: 40px;
    
}
.main .w730 h2{
    padding-bottom: 12px;
    border-bottom: 1px solid #e4e4e4;
}
.main .w730 li{
    padding: 20px 0;
    border-bottom: 1px dashed #aaa;
}
.main .w730 dt{
    font-size: 16px;
    margin-bottom: 10px;
}
.main .w730 dd p {
    font-size: 14px;
    line-height: 2em;
    color:#666666;
}
.w730 em{
    width: 17px;
    height: 17px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background-color: #f66;
    border: none;
    font-size: 14px;
    color:#fff;
}