.main{
    padding-top: 30px;
    height: 554px;
    width: 100%;
    background-color: #eeeeee;
}
.main .w1000{
    padding: 15px 25px 0 25px;
    background-color: #fff;
    border-radius: 5px;
    height: 500px;
}
.main .item1{
    display: flex;
}
.main h2{
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 25px;
}
.main .cg{
    margin-right: 20px;
}
.main ul{
    width: 340px;
}
.main li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.main .tel label{
    margin-left: 15px;
}
.main .sec input{
    width: 130px;
    height: 35px;
    margin-left: 7px; 
    color:#aaa;
    background-image: url(../img/login-sp.png);
    background-repeat: no-repeat;
    background-position: 7px -73px;
    text-indent: 3em;
    border:1px solid #ccc;
}
.main .tel input{
    width: 250px;
    height: 35px;
    color:#aaa;
    background-image: url(../img/login-sp.png);
    background-repeat: no-repeat;
    background-position: 7px -73px;
    text-indent: 3em;
    border:1px solid #ccc;
}
.main .agree{
    justify-content: center;
    margin-left: 41px;
}
.main .get button{
    background-color: #f66;
    font-size: 20px;
    text-align: center;
    width: 250px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    margin-left:86px;
    border-radius: 5px;
    border:none;
}
.main span{
    margin-left: 86px;
}
.main a{
    color :#f66;
}

